body{
background-image: url(img/57865ab5e6ccc155e4d256b9.png);}

.glava{
font-size: 60px;
text-align: center;
display: inline;
color: wheat;
padding-left: 300px;}

.redkoe{
font-size: 60px;
text-align: center;
display: inline;
color:blue;
padding-left: 300px;}

.epik{
font-size: 60px;
text-align: center;
display: inline;
color:purple;
padding-left: 300px;}

.ruf{
color: yellow;
font-size: 25px;
text-align: left;
}